@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
    background: #fff;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    max-width: 26rem; /*412px*/
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

/*=====HEADER=======*/

header {
    margin-top: 1.5rem;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 2.25rem;
    height: 100%;
}

.header-title {
    margin-top: 1.375rem;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}

.header-nav {
    margin-top: 1.5rem;
}

.nav-block {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.nav-block_button {
    all: unset;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.125rem;
    border: 1px solid #0057ff;
    border-radius: 0.625rem;
    background: #0057ff;
    color: #fff;
}

.nav-block_button:active {
    background: #fff;
    color: #0057ff;
    font-weight: 400;
}

/*=====SECTION ABOUT=======*/

.about {
    margin-top: 1.5rem;
    color: #fff;
    background: #0057ff;
}

.about-photo img {
    width: 100%;
    height: auto;
    display: block;
}

.about-wrap {
    margin-top: 2.25rem;
}

.about-list {
    padding-bottom: 2.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.list__item {
    flex: 0 0 auto;
    width: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item__count {
    font-weight: 300;
    font-size: 3rem;
}

.item__desc {
    font-weight: 400;
    font-size: 1.125rem;
}

/*=====SECTION MESSAGES=======*/
.messages {
    margin-top: 2.625rem;
}

.messages-title {
    font-weight: 900;
    font-size: 1.5rem;
}

.messages-wrap {
    margin-top: 1.5rem;
}

.messages-list {
    display: flex;
    flex-direction: column;
}

.user + .user::before {
    margin-top: 1rem;
    margin-bottom: 1rem;
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background: #e9e9e9;
    margin-left: calc(50% - 50vw);
}

.user-inner {
    display: flex;
    gap: 1rem;
}

.user-photo {
    width: 3.25rem;
    height: 3.25rem;
    flex-shrink: 0;
}

.user-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    flex-grow: 1;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.name-title {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 129%;
    color: #1d1e22;
}

.name-nickname {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 129%;
    color: #abacb1;
}

.name-last-seen {
    max-width: 3.25rem;
}

.name-last-seen-desc {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 100%;
    text-align: right;
    color: #abacb1;
}

.user-body {
    margin-top: 0.625rem;

}

.user-body-desc {
    font-weight: 400;
    font-size: 1rem;
    color: #1d1e22;
}

.user-body-img {
    margin-top: 1rem;
    max-width: 100%;
}

.user-body-img img {
    width: 100%;
    height: auto;
}

.user-footer {
    margin-top: 0.3125rem;
    display: flex;
    gap: 2rem;
}

.user-footer-btn {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.user-footer-btn button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 0.9375rem;
    height: 0.9375rem;
}

.user-footer-btn button svg {
    width: 100%;
    height: auto;
}

.user-footer-btn p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 171%;
    color: #b1b1b1;
}
