@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
    background: #fff;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper{
    width: 100%;
    max-width: 26rem; /*412px*/
    margin: 0 auto;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}
