@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
    background: #fff;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    max-width: 26rem; /*412px*/
    margin: 0 auto;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

/*=====HEADER=======*/

header {
    margin-top: 1.5rem;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 2.25rem;
    height: 100%;
}

.header-title {
    margin-top: 1.375rem;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}

.header-nav {
    margin-top: 1.5rem;
}

.nav-block {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.nav-block_button {
    all: unset;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.125rem;
    border: 1px solid #0057ff;
    border-radius: 0.625rem;
    background: #0057ff;
    color: #fff;
}

.nav-block_button:active {
    background: #fff;
    color: #0057ff;
    font-weight: 400;
}

