@import "tailwindcss";

@layer base {
    html, body, #root {
        height: 100%;
    }

    body {
        @apply font-sans;
    }
}

@theme {
    --color-primary: #0057ff;
    --font-sans: 'Roboto', sans-serif;
}

